/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
  1. より直感的なボックスサイズのモデルを使用
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. デフォルトのマージンを削除
*/
* {
  margin: 0;
}
/*
  3. 高さは%ベースを使用
*/
html, body {
  height: 100%;
}
/*
  タイポグラフィの微調整
  4. アクセシブルなline-heightを追加
  5. テキストのレンダリングを改善
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. メディア要素のデフォルトを改善
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. フォームのfontに関するデフォルトを削除
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. テキストのオーバーフローを回避
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. ルートのスタックコンテキストを作成
*/
#root {
  height: 100%;
}
